{{#each post }}
<div>
<h2><a href="/posts/{{post.id}}">{{post.title}}{{post.date}}</a></h2>
<h4>{{post.post}} Posted By: {{post.username}}</h4>
<p>{{post.comment}}</p>
</div>
{{else}}
<p>there are currently no posts</p>
{{/each}}