{{#if logged_in}}
<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.email}} OR {{id}} on {{date}}</p>
  <p>
    {{post}}
  </p>
  <div class="update-post"><button class="btn btn-sm btn-danger" data-id="{{id}}">UPDATE</button></div>
</div>
{{else}}
<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.email}} OR {{id}} on {{date}}</p>
  <p>
    {{post}}
  </p>
</div>
{{/if}}